@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}


h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h4{
    font-size: 20px;
    color: #222;
}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
.section-p1{
    padding: 40px 80px 0 80px;
}
.section-p2{
    padding: 0 80px;
}
.section-m1{
    margin:40px 0;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 10px 25px;
    color: #fff;
    background-color:#10a198;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white{
    font-size: 16px;
    font-weight: 600;
    padding: 10px 25px;
    color: #fff;
    background-color:transparent;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}

body{
    width:100%;
}



/*search*/

.search-form{
    position: absolute;
    top:115%;
    right: 2rem;
    width: 382px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 43px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
    background-color: #fff;
    display: none;
    transition: .3s ease;
}


.search-form input{
    height: 30px;
    width: 300px;
    padding: 0 2px;
    font-size: 16px;
    text-transform: none;
    column-rule-color: black;
    outline: none;
    border: 0;
    margin-left: 35px;
}

.search-form label{
    background-color: #10a198;
    padding: 10px ;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
    color:#fff;
    margin-top: 2px;
}

/* To Top */

.to-top{
    position:fixed;
    bottom: 16px;
    right: 16px;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.to-top lord-icon{
    width: 50px;
    height: 50px;
    border-radius:50% ;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    background-color: #2cc0b6;
    border: 1px solid #10a198;
}

.to-top lord-icon:hover{
    box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.4);
}

.to-top.actives{
    opacity: 1;
    pointer-events: auto;
    bottom: 16px;
}


/* Header start */

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    background-color: #E3E6F3;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 99;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
   display: flex;
   align-items: center;
   justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #10a198;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: #10a198;
    position: absolute;
    bottom: -4px;
    left: 20px;
}


#mobile{
    display: none;
    align-items: center;
}
#close{
    display: none;
}


/* Dot */

#cart-icon{
    position: relative;
}

.dot{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: red;
    position: absolute;
    z-index: 1;
    right: 74px;
    top:38px
}
.dot:hover{
    background-color: #10a198;
}




/* Home page */
#hero{
    background-image: url("img/img12.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 15% right 0; 
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding: 15px 0;
}

#hero h1{
    color: #10a198;
}

#hero button:hover{
    background-color: #fff;
    color: #222;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:20px;
}
#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 35px rgba(0, 0, 0, 0.06);
    border: 1px solid #cce7d0;
    border-radius: 10px;
    margin: 15px 0;

}

#feature .fe-box:hover{
    box-shadow: 10px 10px 43px rgba(70,62,221, 0.2);   
}

#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px ;
    line-height: 1;
    border-radius: 6px;
    color: #10a198;
    background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6{
    background-color: #fddde4;
}

#feature .fe-box:nth-child(4) h6{
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(5) h6{
    background-color: #fddde4;
}

#feature .fe-box:nth-child(6) h6{
    background-color: #cdebbc;
}

/* product */

#product{
    text-align: center;
}
#product .pro-continer{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;

}
#product .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product .pro:hover{
    box-shadow: 40px 40px 50px rgba(0, 0, 0, 0.06);
}

#product .pro img{
    width: 100%;
    border-radius: 20px;
}

#product .pro .des{
    text-align: start;
    padding: 10px 0;
}
#product .pro .des span{
    color: #606063;
    font-size: 12px;
}

#product .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 18px;
}

#product .pro .des i{
    font-size: 15px;
    color: rgb(243, 181, 25);
}

#product .pro .des h4{
    padding-top: 7px;
    font-size: 20px;
    font-weight: 700;
    color: #10a198;
}

#product .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    color: #10a198;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 15px;
    transition: .3s ease;
}

#product .pro .cart:hover{
    color: #fff;
    background-color: #10a198;
}

/* banner */

#banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url('img/img4.2.png');
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4{
    font-size: 20px;
    color: #fff;
}

#banner h2{
    padding-bottom:10px ;
    color: #fff;
}

#banner h2 span{
    color: red;
}
#banner button:hover{
    color: #1a1a1a;
    background-color: #fff;
}

/* sm-banner */

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.2)), url("img/img8.jpeg");
    min-width: 580px;
    height: 60vh;
    background-size: cover;
    background-position: 50% 20%;
    padding-left: 150px;
    border-radius: 5px;
}


#sm-banner .banner-box2{
    background:linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.1)), url("img/img18.png");
    background-position: 30% 3%; 
}
#sm-banner h4{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}

#sm-banner h2{
    color: #fff;
    margin: 5px;
    font-weight: 800;
}

#sm-banner span{
    color: #fff;
    font-size: 14px;
    padding-bottom: 15px;
}
#sm-banner .banner-box:hover button{
    background-color: #10a198;
    border: 1px #10a198;
}

#newsletters{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url("img/img24.png");
    background-position: 20% 40%;
}

#newsletters h4{
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}

#newsletters p{
    font-size: 14px;
    font-weight: 400;
    color: #818ea0;
}

#newsletters span{
    color: #ffbd27;
}

#newsletters .form{
    display: flex;
    width: 40%;
}

#newsletters input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 16px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 6px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletters button{
    height: 3.125rem;  
    white-space: nowrap;  
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .col .logo{
    margin-bottom:30px ;
}

footer h4{
    font-size: 20px;
    padding-bottom: 20px;
}

footer p{
    font-size: 18px;
    margin-bottom: 8px;
}

footer a{
    font-size: 18px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    columns: #465b52;
    padding-right: 4px;
    cursor: pointer;
    font-size: 25px;
}

footer .colinstall img{
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover{
    color: #10a198;
}

footer .copyright{
    width: 100%;
    text-align: center;
}
/* Shop page */


#page-header{
    background-image: url('img/shopbanner1.png');
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    background-position: 30% 30%;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#page-header h2
{
    color: #fff;
}

#page-header h2 span{
    font-size: 35px;
    padding-left: 20px;
}
#page-header h3{
    color: #fff;
    font-size: 30px;
    font-weight: 200;
}
#pageination{
    text-align: center;
}

#pageination .a {
    text-decoration: none;
    background-color: #10a198;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-right: 10px;
}

#pageination .b{
    text-decoration: none;
    background-color: #cdebbc;
    padding: 15px 20px;
    border-radius: 4px;
    color: #10a198;
    font-size: 20px;
    font-weight: 600;
    border:1px solid #cce7d0;
    margin-right: 10px;
    transition: 0.3s ease;
}

#pageination .b:hover{
    color: #fff;
    background-color: #10a198;
}
/*shop1*/

#banner.shops1 {
    background-image: url('img/img0.jpg');
    height: 70vh;
    background-position: 20% 10%;
    border-radius: 20px;
}

#banner.shops2 {
    background-image: url('img/img2.png');
    height: 75vh;
    background-position: 20% 35%;
    border-radius: 20px;
}


#banner.shops3{
    background-image: url('img/img42.png');
    height: 70vh;
    border-radius: 20px;
}

#sm-banner .shop2{
    background-image: url('img/img7.jpeg');
    border-radius: 10px;
    padding: 150px 0 0 0 ;
    margin-bottom: 15px;
}


#sm-banner .shop3{
    background-image: url('img/img10.jpg');
    border-radius: 10px;
    padding: 150px 0 0 0 ;
    margin-bottom: 15px;
}


#sm-banner .shop4{
    background-image: url('img/img21.jpeg');
    background-position: 50% 10%;
    border-radius: 10px;
    padding: 150px 0 0 0 ;
    margin-bottom: 15px;
}

#sm-banner .shop5{
    background-image: url('img/img24.jpg');
    border-radius: 10px;
    padding: 150px 0 0 0 ;
    margin-bottom: 15px;
}

#sm-banner .shop6{
    background-image: url('img/img22.jpg');
    border-radius: 10px;
    padding: 150px 0 0 0 ;
    margin-bottom: 15px;
}

#sm-banner .shop7{
    align-items: center;
    background-image: url('img/img5.png');
    border-radius: 10px;
    padding: 150px 0 0 0 ;
    margin-bottom: 15px;
}


/*single product*/

#prodetails{
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-img{
    width: 40%;
    margin-right:50px ;
 
}

#prodetails .single-pro-img img{
   border-radius: 6px;
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details {
    width: 50%;
    padding-top:30px ;
}

#prodetails .single-pro-details h4{
    font-size: 30px;
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2{
    font-size: 30px;
}

#prodetails .single-pro-details input{
    width: 50px;
    height: 30px;
    font-size: 20px;
    margin-right: 10px;
    padding-left: 10px;
    outline: none;
}

#prodetails .single-pro-details button{
    padding: 10px 15px;
    font-size: 18px;
}

#prodetails .single-pro-details span{
    line-height: 25px;
}



/*blog*/
#page-header.blog{
    background-image: url('img/img29.png')

}

#page-header.blog h2{
    color: #fff;
    text-align: center;
}

#page-header.blog h3{
    color: #fff;
    font-size: 30px;
    font-weight: 200;
}

#blogs{
    padding: 100px 150px ;
}

#blogs .blog-box{
    margin-top: 60px;
    align-items: center;
    width: 100%;
}
#blogs .blog-box .blog-details h4{
    font-size: 30px;
}
#blogs .blog-box .blog-details p{
    line-height: 23px;
    font-size: 20px;
    text-align: justify;
    text-indent: 10%;
}

#blogs .blog-img{
    display: flex;
    justify-content: center;
    text-align: center;
    
}

#blogs img{
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.06);
}

#blogs img:hover{
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.09);
}

.credit{
    display: flex;
    justify-content: center;
    margin-top:40px ;

}

.credit h4{
    padding:12px 18px ;
    color: rgb(0, 107, 247);
    background-color: rgb(243, 235, 235);
    border-radius: 8px;
}

.credit h4 span{
    color: red;
}

.content{
    display: none;
}


/*About*/

#page-header.about{
    background-image: url('img/img3.png') 
}

#page-header.about h2,
#page-header.about h3{
    color: #10a198;
}

#about-head{
    display: flex;
    align-items: center;
}

#about-head  img{
    width: 50%;
    height: auto;
    border: 1px solid #cce7d0;
    border-radius: 15px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
}

#about-head div{
    padding: 40px;
}

#about-head div p{
    text-align: justify;
    text-indent: 8%;
}


/* video */

#about-app .video{
    width: 70%;
    height: auto;
    margin: 10px auto 0 auto;
}

#about-app .video video{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 19px 38px, rgba(0, 0, 0, 0.10) 0px 15px 12px;
    border: 10px solid #222;
}

#about{
    padding: 100px 150px ;
}

#about .about-img{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
}

#about img{
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 19px 38px, rgba(0, 0, 0, 0.10) 0px 15px 12px;
    margin-bottom: 30px;
}

#menu-about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}

#menu-about a{
    text-decoration: none;
    padding: 0 30px;
}

#menu-about a h1{
    color: #222;
}

#menu-about a h1:hover{
    color: #10a198;
}

/* REVIEW SECTION */

.reviewh1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffa801;
}

.reviewh1 h1{
    color: #ffa801;
}

.reviewh1 i{
    padding:0 10px ;
    font-size: 20px;
}

.rating-box{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #222;
    border-radius: 25px;
    padding: 25px 10px 35px;
    margin: 30px 20em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.rating-box h3{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

.stars i{
    color: #e6e6e6;
    font-size: 40px;
    cursor: pointer;
    transition: color 0.2s ease;
} 

.stars i.active{
    color: #ff9c1a;
}

.review-rating{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 100px 0 50px;
    border-top:2px solid rgba(0,0,0,0.1);
    border-bottom:2px solid rgba(0,0,0,0.1);
    padding: 40px 0;
}

.review-rating .review-star i{
    color: #ffbd27;
    font-size: 90px;
}

.review-rating .review-text h1{
    font-size: 100px;
    padding-bottom: 10px;
    color: #07be26;
}

.review-rating .review-text h6{
    color: #07be26;
    padding-top: 10px;
}

.reviews{
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding: 40px 0;
    display: flex;
}

.reviews .re-text{
    width: 80%;
}

.reviews .re-text p{
    text-align: justify;
    text-indent: 60px;
}

.reviews .re-text i{
    font-size: 18px;
    color: #ffa801;
}

.reviews .re-pic{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
}

.reviews .re-pic img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}


/* contact */
#page-header.contact{
    background-image: url('img/contact.png');
    background-position: 0 80%;
}

#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details{
    width: 40%;
}

#contact-details .details span,
#form-details form span{
    font-size: 12px;
    font-weight: 300;
}

#contact-details .details  h2,
#form-details form h2{
    font-size: 26px;
    line-height: 36px;
    padding: 20px 0;
}

#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 20px 0; 
}

#contact-details .details li i{
    font-size: 16px;
    padding-right: 22px;
}

#contact-details .details li p{
    margin: 0;
    font-size: 16px;
}

#contact-details .map{
    width: 55%;
    height: 400px;
    
}

#contact-details .map iframe{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
    border-radius: 20px;

}


#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea{
    width: 100%;
    outline: none;
    border: 1px solid #e1e1e1;
    padding: 12px 15px;
    margin-bottom: 20px;
}

#form-details .people div{
    padding-bottom: 40px;
    display: flex;
    align-items: flex-start;
}


#form-details .people div img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
    border: 2px solid #10a198;
}

#form-details .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#form-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #10a198;
}
/*Cart page*/
#page-header.cart{
    background-image: url('img/shop.png');
    background-position: 0 80%;
}

.carts{
    position: fixed;
    top: 0;
    right: -100%;
    width: 420px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px 0 0 20px;
    background-color: #fff;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.4);
    z-index: 100;
    transition: 3s ;
    border-top-left-radius: 40px;

  }
  
  .cart-active{
    right:0;
    transition: 2s;

  }
  
  .cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    padding-bottom:20px ;
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
  
  .cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 10px;
  }
  
  .cart-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border:2px solid  rgb(53, 185, 247);
    border-radius: 15px;
    padding: 2px;
  }
  .detail-box{
    display: grid;
    row-gap: 0.5rem;  
  }
  
  .price-box{
    display: flex;
      justify-content: space-between; 
  }
  
  .cart-saree-title{
     font-size: 1rem;
     text-transform: uppercase;
     color:#10a198;
     font-weight: 500;
  }
  
  .cart-price{
    font-weight: 500;
  }
  
  .cart-quantity{
    border:1px solid rgba(0,0,0,0.1);
    outline:none ;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
  }
  
  .cart-remove{
    font-size: 24px;
    color:#10a198;
    cursor: pointer;
    transition: .3s ease;
  }
  .cart-remove:hover{
    color: rgba(245, 31, 31, 0.829);
  }
  
  .total{
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
  }
  
  .total-title{
    font-size: 1rem;
    font-weight: 600;
    padding-right: 6px;
  }
  
  .total-price{
    margin-left: 0.5rem;
  }
  
  .btn-buy{
    padding: 12px 20px;
    background-color:#1a922e;
    color:#fff;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    transition: .3s ease;
  }

.btn-buy:hover{
    background-color: #07be26;

}
  #cart-close {
    position: absolute;
    top: 20px;
    left: 30px;
    color: #222;
    font-size: 25px;
    cursor: pointer;
  }
  
.totalbye{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
    right: 0;
    z-index: 101;
    padding:20px 0 40px; 
    background-color: #fff;
    width: 100%;
}



/* Preview */

.preview{
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-left:10% ; */
    transform: scale(0);
    /* transition: .7s ease; */
}

.preview .pro-preview{
    display: none;
    padding: 2rem;
    text-align: center;
    background-color: #fff;
    position: relative;
    margin: 2rem;
    width: 900px;
    border-radius: 20px;

}

.preview .pro-preview.saree-active{
    display:flex;
    /* transform: scale(1); */
 
}

.preview .pro-preview i{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
    font-size: 25px;
}

.preview .pro-preview .rows{
    display: flex;
}

.preview .pro-preview .rows .detail{
    padding-left:30px ;
    width: 50%;

}

.preview .pro-preview .rows .detail h5{
    color: #10a198;
    font-size: 24px;
}

.preview .pro-preview .rows .detail h4{
    /* text-align: start; */
    font-size: 22px;
}

.preview .pro-preview .rows .detail h3{
    padding-top: 40px;
    font-weight: 600;
}
.preview .pro-preview .rows .detail span{
    text-align: justify;
    display: flex;
    text-indent: 40px;
    
}



.preview img{
    width: 50%;
    height: 100%;
    border-radius: 20px;
}


/* QR code */

.pay{
    position: fixed;
    top: 0 ;
    left: 0;
    z-index: 104;
    min-height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-left:10% ; */
    transform: scale(0);
    /* transition: .7s linear; */

}




.pay .qrc{
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
   background-color: #fff;
   padding: 0 0 10px;
   border-radius: 30px;
   /* transition: .1s ; */
}

.pay .qrc i{
   padding: 8px 0 7px 250px;
   font-size: 25px;
   font-weight: 800;
   cursor: pointer;
}

.pay .qrc i:hover{
    color: #818ea0;
}

.pay .qrc .qrimg{
    border-radius: 20px;
    border: 5px solid #8395a7;
    padding: 7px;
}

.pay .qrc .upiimg{
    width: 80%;
    padding-top:10px ;
}

.pay .qrc h4{
    margin: 15px 0;
    color: #05c46b;
    font-size:28px ;
}

.pay .qrc .paybtn{
    display: flex;
    flex-direction: column;
}

.pay .qrc .paybtn button{
    font-weight: 600;
    margin-bottom: 10px;
    padding: 8px 16px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    border-radius: 20px;
    font-size: 16px;
    transition: .3s ease;
}

.pay .qrc .paybtn .pylat{
    background-color: #ffa801;
}

.pay .qrc .paybtn .cod{
    background-color: #05c46b;
}

.pay .qrc .paybtn .pylat:hover{
    background-color: #ffc048;
}

.pay .qrc .paybtn .cod:hover{
    background-color: #0be881;
}

.pay .qrc p{
    margin: 0;
    font-size: 12px
}

/*Media Query*/

   @media (max-width:799px) {
    .section-p1{
        padding: 40px 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
        padding: 80px 0 0 10px;
        transition: 0.3s;
        z-index: 2;
    }

    #navbar.active{
        right: 0px;
    }

    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
        align-items: center;
        
    }
    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
        cursor: pointer;
    }
   
    
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 25px;
    }
    #lg-bag,
    #lg-search{
        display: none;
    }

    .dot {
        right: 94px;
        top: 36px;
    }

    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: 60% 30% ;
    }

    #feature {
        justify-content: space-around;
    }
    #feature .fe-box{
        margin: 15px;
    }
    #product .pro-continer {
        justify-content: center;
    }
    #product .pro {
        margin: 15px;
    }
    #banner {
        height: 20vh;
    }
    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
        margin-bottom: 10px;
    }
    #newsletters .form {
        width: 70%;
    }

    /*shop*/
    #page-header {
        background-position: 90% 30%;

    }

    #banner.shops1 {
        height: 30vh;

    }

    #banner.shops2 {
        height: 30vh;

    }

    #banner.shops3 {
        height: 30vh;
    }
    /*blog*/
    #blogs {
        padding: 50px 100px;
    }
    #blogs img {
        width: 80vw;
    }
    /*About*/


    #about {
        padding: 50px 100px;
    }
    #about img {
        width: 90vw;
    }

    #menu-about {
        padding: 30px 0;
    }

    #menu-about h1{
        font-size: 30px;
    }


    /* contact */

    #form-details {
        padding: 30px;
    }   
    #form-details form {
        width: 50%;
    }


    /* Review box*/

    .rating-box {
        margin: 0px;

    }
    

   }















   @media (max-width: 477px) {
    .section-p1{
        padding: 20px;
    }
    #header {
       padding: 5px 25px;
    }
    h2 {
        font-size: 32px;
    }

    .dot {
        right: 62px;
        top: 26px;
    }

    .search-form {
        width: 300px;
        right: 1rem;
    }

    .search-form input {
        width: 220px;
    }

    #hero {
        padding: 0 20px;
    }
    #feature{
        justify-content: space-between;
    }
    #feature .fe-box {
        width: 155px;
        margin: 0 0 15px 0;
    }
    #product .pro {
        width: 100%;
    }

    #banner {
        height: 25vh;
    }
    #sm-banner .banner-box {
        height: 40vh;
    }
    #sm-banner h2 {
        font-size: 24px;
    }
    #sm-banner .banner-box2 h2 {
        font-size: 20px;
    }
    #sm-banner .banner-box2 {
        height: 40vh;
        background-position: 25% 0;
    }
    #newsletters{
        padding: 40px 20px;
    }
    #newsletters .form {
        width: 100%;
    }

     /*shop*/
     #banner.shops1 {
        height: 20vh;
    }

    #banner.shops2 {
        height: 20vh;
    }

    #banner.shops3 {
        height: 20vh;
    }
   
    /*single prodect*/
    #prodetails {
        display: flex;
        flex-direction: column;
    }
    #prodetails .single-pro-img {
        width: 100%;
        margin-right: 0px;
    }
    #prodetails .single-pro-details {
        width: 100%;
    }

    /*Blog*/
    #blogs {
        padding: 25px 20px;
    }

    /*About*/

    #about-head {
        flex-direction: column;

    }
    #about-head  img {
        width: 100%;
    }
    #about-head div {
        padding: 10px;
    }
    #about{
        padding: 25px 20px;
    }

    /* video */
    #about-app .video {
        width: 100%;
    }
    #about-app .video video {
        border: 5px solid #222;
    }

    /* contact */
    #contact-details {

        flex-direction: column;
    }

    #contact-details .details {
        width: 100%;
        margin-bottom: 30px;
    }

    #contact-details .map {
        width: 100%;
    }

    #form-details {
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }

    #form-details form {
        width: 100%;
        padding-bottom: 40px;
    }

    /* Review box */

    .reviewh1 h1 {
        font-size: 35px;
    }

    .reviewh1 i {
        font-size: 10px;
    }

    .review-rating {
        margin: 50px 0 ;
    }

    .review-rating .review-star i {
        font-size: 35px;
    }

    .review-rating .review-text h1 {
        font-size: 50px;
        padding-bottom: 0;
    }

    .review-rating .review-text h6 {
        padding-top: 0;
        margin-bottom: 10px;

    }

    p {
        margin-bottom: 0;
    }

    .reviews {
        flex-direction: column;
    }

    .reviews .re-pic {
        width: 100%; 
    }

    .reviews .re-text {
        width: 100%;
    }


    /* Cart */

    .carts {
        width: 333px;
    }


    /* preview */

    .preview {
        margin-top: 40px;
    }

    .preview img {
        width: 84%;
        /* height: 100%; */
    }
    
    .preview .pro-preview .rows .detail {
        padding-left: 0px;
        width: 100%;
    }

    .preview .pro-preview .rows {
       flex-direction: column;
       align-items: center;
    }

    .preview .pro-preview .rows .detail h3 {
        padding-top: 5px;
    }

    .preview .pro-preview .rows .detail h5 {
        font-size: 22px;
        padding-top: 5px;
    }

 
   }